.timer-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.timer-container p {
  font-size: x-large;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 2px;
}