.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-theme {
  color: #e6632f;
}

.text {
  font-family: "Poppins", sans-serif;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0%;
  font-size: 8ch;
}

h1 {
  margin-top: 0px;
}